*.out
*.log 
*.pdf
!Content/images/*.pdf
!Content/HSE-theme/*.pdf
*.aux
*.gz
*.fdb_latexmk
*.fls
*.bbl
*.nav
*.vrb
*.snm
*.bcf
*.xdv
*.blg
*.maf
*.mtc
*.mtc0
*.run.xml
*.toc
*.lof
.DS_Store
.vscode
*.pyg
!kt1_titlepage.pdf
