name: Publish pdf

on:
  # push:
  #   branches: [ main ]

permissions: write-all

jobs:
  publish:
    name: Publish changed article
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Checkout gh_pages
      uses: actions/checkout@v2
      with:
        ref: 'gh_pages'
        path: '_gh_pages'

    - name: Cache Docker images.
      uses: ScribeMD/docker-cache@0.3.3
      with:
        key: docker-${{ runner.os }}-${{ hashFiles('docker-compose.yaml') }}

    - name: Give permissions
      run: | 
        chmod +x publish.sh
        chmod +x docker_build.sh

    - name: Build article
      run: ./docker_build.sh

    - name: Publish
      run: ./publish.sh